<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EYEQuiz.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EYEQuiz.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EYEQuiz.Settings1>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
        </EYEQuiz.Settings1>
    </userSettings>
    <applicationSettings>
        <EYEQuiz.Settings1>
            <setting name="AppID" serializeAs="String">
                <value>2705033209521685</value>
            </setting>
            <setting name="AppSecret" serializeAs="String">
                <value>936200cf655dc228c5e3431300d84408</value>
            </setting>
            <setting name="Scope" serializeAs="String">
                <value />
            </setting>
        </EYEQuiz.Settings1>
    </applicationSettings>
</configuration>